/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

   *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    color: #87629A;
    font-size: 1.5rem;
}

.row__bottom h2 {
    color: #fff;
}

p {
    font-size: 0.8rem;
    line-height: 2em;
}

.row__bottom p {
    color: #FFF;
}

.hero__text {
    width: 70%;
}

.hero__text p {
    padding-bottom: 3em;
    width: 90%;
}

.hero {
    background: #23424A;
    color: #fff;
    padding: 100px 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}

.btn {
    color: #23424A;
    background-color: #38CFD9;
    border-radius: 100px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.7em 2em;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.row {
    /* display: flex => flex container */
    display: flex;
    text-align: center;

    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
    padding: 3rem 0;
}

.col + .col {
    margin-left: 20px;
}

.hero__bottom-banner{
    background-color: #136C72;
}

.container__bottom {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}

.row__bottom {
    display: flex;
    text-align: center;
}